<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:compraki="http://compraki.com.br"
    layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Minha Conta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<section layout:fragment="conteudo">
    <div class="row page-header">
    	<div class="container-fluid">
	        <div class="col-xs-11">
	            <h1>Minha Conta</h1>
	        </div>
	        <!-- 
		        <div class="col-xs-1">
		            <div class="aw-page-header-controls">
		                <a class="btn  btn-primary" th:href="@{/linhas}">
		                    <i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar</span>
		                </a>
		            </div>
		        </div>
	         -->
        </div>
    </div>
   	<div class="container-fluid">
	    <form id="formPessoa" method="post" th:object="${pessoa}" th:action="@{/usuarios/novo}">
	       <input id="idHidden" type="hidden" th:field="*{codigo}"> 
	       <input id="mask" type="hidden"> 
	       <input id="inputTipoPessoa" type="hidden" th:field="*{pessoaHelper.inputTipoPessoa}" th:value="*{pessoaHelper.inputTipoPessoa}">
	       <input id="erroNomePessoa" type="hidden" th:field="*{pessoaHelper.erroNome}"> 
	       <input id="erroRazaoSocial" type="hidden" th:field="*{pessoaHelper.erroRazaoSocial}"> 
	       <input id="nomeFantasiaHidden" type="hidden" th:field="*{nomeFantasia}"> 
	       <input id="erroDataNascimento" type="hidden" th:field="*{pessoaHelper.erroDataNascimento}"> 
	       <input id="dataNascimentoHidden" type="hidden" th:field="*{dataNascimento}"> 
	       <input id="erroCpf" type="hidden" th:field="*{pessoaHelper.erroCpf}"> 
	       <input id="erroCnpj" type="hidden" th:field="*{pessoaHelper.erroCnpj}"> 
	       <input id="erroNomeFantasia" type="hidden" th:field="*{pessoaHelper.erroNomeFantasia}"> 
	       <input id="nomeHelper" type="hidden" th:field="*{pessoaHelper.nome}" th:value="*{pessoaHelper.nome}"> 
	       <input id="razaoSocialHelper" type="hidden" th:field="*{pessoaHelper.razaoSocial}" th:value="*{pessoaHelper.razaoSocial}"> 
	       <input id="dataNascimentoHelper" type="hidden" th:field="*{pessoaHelper.dataNascimento}" th:value="*{pessoaHelper.dataNascimento}"> 
	       <input id="cpfHelper" type="hidden" th:field="*{pessoaHelper.cpf}" th:value="*{pessoaHelper.cpf}"> 
	       <input id="cnpjHelper" type="hidden" th:field="*{pessoaHelper.cnpj}" th:value="*{pessoaHelper.cnpj}"> 
	       <input id="nomeFantasiaHelper" type="hidden" th:field="*{pessoaHelper.nomeFantasia}" th:value="*{pessoaHelper.nomeFantasia}"> 
	       <input id="apelidoHelper" type="hidden" th:field="*{pessoaHelper.apelido}" th:value="*{pessoaHelper.apelido}"> 
	       <input id="sexoHelper" type="hidden" th:field="*{pessoaHelper.sexo}" th:value="*{pessoaHelper.sexo}"> 
		   <compraki:message/>
           <h2>Dados de Autenticação</h2> 
            <div class="row">
                <div class="form-group  col-sm-3  compraki-required" compraki:classforerror="email">
                    <label for="email" class="control-label">E-mail</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}"/>
                </div>
                <div class="form-group  col-sm-3 compraki-required" compraki:classforerror="senha">
                    <label for="senha" class="control-label">Senha</label> 
                    <input type="password" class="form-control" id="senha" th:field="*{senha}"/>
                </div>
                
                <div class="form-group  col-sm-3 compraki-required" compraki:classforerror="confirmacaoSenha">
                    <label for="confirmacaoSenha" class="control-label">Confirmação de senha</label> 
                    <input type="password" class="form-control" id="confirmacaoSenha" th:field="*{confirmacaoSenha}"/>
                </div>
                
                <div class="form-group  col-sm-3">
                    <label class="control-label">Status</label>
                    <div>
                        <input type="checkbox" class="js-status" data-size="small" data-off-color="danger" 
                            data-on-text="Ativo" data-off-text="Inativo" th:field="*{usuario.ativo}"/>
                    </div>
                </div>                                
            </div>            
            <div class="row">
                <div class="form-group  col-sm-6  compraki-required" compraki:classforerror="usuario.grupos">
                    <label class="control-label">Grupos</label> 
                    <div>
                        <th:block th:each="grupo, iterStat : ${grupos}">
                            <div class="checkbox  checkbox-inline" th:if="${grupo.codigo != 4}"> 
                                <input type="checkbox" th:value="${grupo.codigo}" th:field="*{usuario.grupos}" />
                                <label th:for="${#ids.prev('usuario.grupos')}" th:text="${grupo.nome}" ></label>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>                        		   
		   <div class="row">
                <div class="col-sm-6  form-group">
                  <label class="control-label" for="nome">Selecione o tipo de pessoa</label>
                    <div class="input-group">
                        <div class="input-group-addon">Tipo</div>
                        <div class="btn-group" data-toggle="buttons">
                          <th:block th:each="tipo : ${tipos}">
                             <label th:id="|tipo${tipo}|" class="btn btn-primary" data:mascara="${tipo.mascara}">
                               <input th:id="|inputPessoa${tipo}|" type="radio" autocomplete="off" th:text="${tipo.descricao}" th:value="${tipo}" 
                                   th:field="*{tipoPessoa}"> 
                             </label>                                                          
                          </th:block>
                       </div>
                    </div>
                </div>  		   
		   </div>
		   <div id="divDadosPessoais"></div>
		   <div id="divDadosEmpresa"></div>
           <h2>Endereço</h2>   
           <div class="row">
                <div class="form-group col-sm-4 compraki-required" compraki:classforerror="endereco.cep">
                    <label for="cep" class="control-label">CEP:</label>
                    <div class="input-group">
                        <input id="cep" type="text" class="form-control js-cep" th:field="*{endereco.cep}" placeholder="Cep">
                        <span class="input-group-addon">
                            <img th:src="@{/images/correios.png}" width="25"/>
                        </span>
                    </div>
                </div>  
               <div class="form-group  col-sm-7  compraki-required" compraki:classforerror="endereco.rua">
                   <label for="rua" class="control-label">Rua</label>
                   <input id="rua" type="text" class="form-control" th:field="*{endereco.rua}" placeholder="Rua"/>
               </div> 
           </div> 
           
           <div class="row">
               <div class="form-group  col-sm-4  compraki-required" compraki:classforerror="endereco.cidade">
                   <label for="cidade" class="control-label">Cidade</label>
                   <input id="cidade" type="text" class="form-control" th:field="*{endereco.cidade}" placeholder="Cidade"/>
               </div>
               <div class="form-group  col-sm-4  compraki-required" compraki:classforerror="endereco.bairro">
                   <label for="bairro" class="control-label">Bairro</label>
                   <input id="bairro" type="text" class="form-control" th:field="*{endereco.bairro}" placeholder="Bairro"/>
               </div>  
                <div class="form-group col-sm-3 compraki-required" compraki:classforerror="endereco.estado">
                    <label class="control-label" for="uf">Estado:</label>
                    <select id="uf" class="form-control js-select-search" th:field="*{endereco.estado}">
                        <option value=""></option>
                        <option th:each="estado : ${estados}" th:text="${estado.nome}+' ('+${estado.sigla} + ')'" th:value="${estado}"></option>
                    </select>
                </div>               
           </div>  
           
           <div class="row">
               <div class="form-group col-sm-11">
		           <label for="complemento" class="control-label">Complemento</label>
		           <input id="complemento" type="text" class="form-control" th:field="*{endereco.complemento}" placeholder="Complemento"/>           
               </div>
           </div> 
           
			<div class="row">
				<div class="form-group col-sm-3 compraki-required" compraki:classforerror="telefone.numeroUm">
					<label for="telefoneUm" class="control-label">Telefone 1:</label>
					<input id="telefoneUm" type="text" class="form-control js-phone-number" th:field="*{telefone.numeroUm}">
				</div>
				
				<div class="form-group col-sm-3" compraki:classforerror="telefone.numeroDois">
					<label for="telefoneDois" class="control-label">Telefone 2:</label>
					<input id="telefoneDois" type="text" class="form-control js-phone-number" th:field="*{telefone.numeroDois}">
				</div>
			</div>                                  
           
	       <button class="btn  btn-primary js-btn-salvar-pessoa">
 				<span class="fa fa-floppy-o"></span> Salvar	        
	       </button> 
	   	</form>
    </div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
    <script th:src="@{/javascripts/cadastro-pessoa.js}"></script>
</th:block>
</html>