<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:compraki="http://compraki.com.br"
    layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Minha Conta</title>
</head>

<section layout:fragment="conteudo">
    <div class="row page-header">
    	<div class="container-fluid">
	        <div class="col-xs-11">
	            <h1>Minha Conta</h1>
	        </div>
	        <!-- 
		        <div class="col-xs-1">
		            <div class="aw-page-header-controls">
		                <a class="btn  btn-primary" th:href="@{/linhas}">
		                    <i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar</span>
		                </a>
		            </div>
		        </div>
	         -->
        </div>
    </div>
   	<div class="container-fluid">
	    <form id="formPessoa" method="post" th:object="${pessoa}" th:action="@{/usuarios/novo}">
		    <compraki:message/>
		   <div class="row">
                <div class="col-sm-6  form-group">
                  <label class="control-label" for="nome">Selecione o tipo de pessoa</label>
                    <div class="input-group">
                        <div class="input-group-addon">Tipo</div>
                        <div class="btn-group" data-toggle="buttons">
                          <th:block th:each="tipo : ${tipos}">
                             <label th:id="|tipo${tipo}|" class="btn btn-primary" 
                                   th:classappend="${tipo.descricao == 'Pessoa Física' ? 'active' : ''}" data:mascara="${tipo.mascara}">
                               <input type="radio" autocomplete="off" th:text="${tipo.descricao}" th:value="${tipo}" 
                                   th:field="*{tipoPessoa}" th:checked="${tipo.descricao == 'Pessoa Física' ? 'checked' : ''}"> 
                             </label>                                                          
                          </th:block>
                       </div>
                    </div>
                </div>  		   
		   </div>
           <h2 id="tituloTipoPessoa">Dados Pessoais</h2>		   
           <div class="row">
			    <div class="form-group  col-sm-6 compraki-required">
	                <label class="control-label js-nome" for="nomePessoaRazaoSocial">Nome</label>
	                <input id="nomePessoaRazaoSocial" type="text" class="form-control" placeholder="Nome" 
	                   th:field="*{nome}" autocomplete="off">
			    </div>           
			    
                <div class="form-group  col-sm-2 js-div-data-nascimento compraki-required">
                    <label class="control-label" for="nome">Data Nascimento</label>
                    <input id="dataNascimento" type="text" class="form-control js-date" placeholder="Data Nascimento" 
                       th:field="*{dataNascimento}" autocomplete="off">
                </div> 			                 
               
                <div class="col-sm-4  form-group js-div-sexo">
                  <label class="control-label" for="nome">Selecione o sexo</label>
                    <div class="input-group">
                        <div class="input-group-addon">Sexo</div>
	                    <div class="btn-group" data-toggle="buttons">
	                      <th:block th:each="sexo : ${sexos}">
	                         <label th:id="|sexo${sexo.descricao}|" class="btn btn-primary" 
	                               th:classappend="${sexo.descricao == 'Feminino' ? 'active' : ''}">
	                           <input type="radio" autocomplete="off" th:text="${sexo.descricao}" th:value="${sexo}" 
	                               th:field="*{sexo}" th:checked="${sexo.descricao == 'Feminino' ? 'checked' : ''}"> 
	                         </label>                                                          
	                      </th:block>
	                   </div>
                    </div>
                </div>  
                
                <div class="form-group  col-sm-4 js-div-nome-fantasia-juridico hidden compraki-required">
                    <label class="control-label" for="nomeFantasia">Nome Fantasia</label>
                    <input id="nomeFantasia" type="text" class="form-control" placeholder="Nome Fantasia" 
                       th:field="*{nomeFantasia}" autocomplete="off">
                </div>
           </div>   
           
           <div class="row js-div-nome-fanatasia-cpf">
                <div class="form-group  col-sm-2">
                    <label class="control-label" for="apelido">Apelido</label>
                    <input id="apelido" type="text" class="form-control" placeholder="Apelido" 
                       th:field="*{apelido}" autocomplete="off">
                </div>
                <div class="form-group  col-sm-4  compraki-required" compraki:classforerror="cpfOuCnpj">
                    <label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
                    <input type="text" class="form-control js-cpf-cnpj" th:field="*{cpfOuCnpj}" placeholder="CPF/CNPJ"/>
                </div>                
           </div> 
           
           <div class="row div-js-cpf-cnpj hidden">
                <div class="form-group  col-sm-4  compraki-required" compraki:classforerror="cpfOuCnpj">
                    <label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
                    <input type="text" class="form-control js-cpf-cnpj" th:field="*{cpfOuCnpj}" placeholder="CPF/CNPJ"/>
                </div> 
                <div class="form-group  col-sm-2">
                    <label class="control-label" for="apelido">Apelido</label>
                    <input id="apelido" type="text" class="form-control" placeholder="Apelido" 
                       th:field="*{apelido}" autocomplete="off">
                </div>                              
           </div>
           
           <h2>Endereço</h2>   
           
           <div class="row">
                <div class="form-group col-sm-4 compraki-required" compraki:classforerror="endereco.cep">
                    <label for="cep" class="control-label">CEP:</label>
                    <div class="input-group">
                        <input id="cep" type="text" class="form-control js-cep" th:field="*{endereco.cep}" placeholder="Cep">
                        <span class="input-group-addon">
                            <img th:src="@{/images/correios.png}" width="25"/>
                        </span>
                    </div>
                </div>  
               <div class="form-group  col-sm-7  compraki-required" compraki:classforerror="endereco.rua">
                   <label for="rua" class="control-label">Rua</label>
                   <input id="rua" type="text" class="form-control" th:field="*{endereco.rua}" placeholder="Rua"/>
               </div> 
           </div> 
           
           <div class="row">
               <div class="form-group  col-sm-4  compraki-required" compraki:classforerror="endereco.cidade">
                   <label for="cidade" class="control-label">Cidade</label>
                   <input id="cidade" type="text" class="form-control" th:field="*{endereco.cidade}" placeholder="Cidade"/>
               </div>
               <div class="form-group  col-sm-4  compraki-required" compraki:classforerror="endereco.bairro">
                   <label for="bairro" class="control-label">Bairro</label>
                   <input id="bairro" type="text" class="form-control" th:field="*{endereco.bairro}" placeholder="Bairro"/>
               </div>               
               <div class="form-group col-sm-3" compraki:classforerror="endereco.estado">
                    <label for="uf" class="control-label">Estado:</label>
                    <select id="uf" class="form-control js-select-search" th:field="*{endereco.estado}">
                        <option value=""></option>
                        <option th:each="estado : ${estados}" th:text="${estado.nome}+' ('+${estado.sigla} + ')'" th:value="${estado}"></option>
                    </select>
               </div>            
           </div>  
           
           <div class="row">
               <div class="form-group col-sm-11">
		           <label for="complemento" class="control-label">Complemento</label>
		           <input id="complemento" type="text" class="form-control" th:field="*{endereco.complemento}" placeholder="Complemento"/>           
               </div>
           </div>                        
           
	       <button type="submit" class="btn  btn-primary">
 				<span class="fa fa-floppy-o"></span> Salvar	        
	       </button> 
	   	</form>
    </div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/cadastro-usuario.js}"></script>
</th:block>
</html>