<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:compraki="http://agr.go.gov.br"
    layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Minha Conta</title>
</head>

<section layout:fragment="conteudo">
    <div class="row page-header">
    	<div class="container-fluid">
	        <div class="col-xs-11">
	            <h1>Minha Conta</h1>
	        </div>
	        
	        <!-- 
		        <div class="col-xs-1">
		            <div class="aw-page-header-controls">
		                <a class="btn  btn-primary" th:href="@{/linhas}">
		                    <i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar</span>
		                </a>
		            </div>
		        </div>
	         -->
        </div>
    </div>
    <form id="formPessoa">
    	<!-- 
	        <compraki:message/>
    	 -->
    	<div class="container-fluid">
	        <button type="submit" class="btn  btn-primary">Salvar</button> 
	    </div>
   	</form>
</section>
<th:block layout:fragment="javascript-extra">
</th:block>
</html>