<script id="template-autocomplete-search" type="text/x-handlebars-template">
    <div class="compraki-tabela-item">
        <div class="compraki-tabela-item__coluna  compraki-tabela-item__coluna--detalhes">
            <span class="compraki-tabela-intencao-propriedade">{{nome}}</span>
            <span class="label  label-default">{{sku}}</span>
            <span class="compraki-tabela-intencao-origem">{{origem}}</span>
        </div>
        <div class="compraki-tabela-item__coluna  compraki-tabela-item__coluna--valores">
            <div class="compraki-tabela-intencao-valor-medio">R${{valorFormatado}}</div>
        </div>
    </div>
</script>