<script id="template-autocomplete-search" type="text/x-handlebars-template">
        <div class="row">
            <div class="col-sm-12">
                <div class="aw-box">
                    <div class="aw-box__icon">
               			<i class="fa  fa-search fa-3x"></i>
                    </div>
                    <div class="aw-box__value">{{fabricante}} {{modelo}} {{tipoCombustivel}} -  R${{valorFormatado}}</div>
                    <div class="aw-box__title">{{cidade}} - {{estado}}</div>
                    <div align="left">
                        <i class="fa  fa-search pull-right"></i>
                    </div>
                </div>
            </div>   
        </div>  
</script>
