<script id="template-autocomplete-search" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-sm-12">
           <div>
               <span class="label  label-default">{{codigo}}</span>
               <span class="label  label-default">{{modelo}}</span>
               <span class="label  label-default">{{fabricante}}</span>
               <span class="label  label-default">{{tipoCombustivel}}</span>
               <span class="label  label-default">{{cidade}}</span>
               <span class="label  label-default">{{estado}}</span>
           </div>
           <div>
                <span class="label  label-default">R${{valorFormatado}}</span>
           </div>
        </div>
    </div>
</script>
