<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:compraki="http://compraki.com.br"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Detalhe Intenção</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/intencao-compra.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/interacao.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header js-topo-page">
			<div class="container-fluid">
				<div class="row btn-primary">
					<div class="col-xs-10">
						<h1>Intenção de Compra Detalhada</h1>
					</div>
					
				</div>
			</div>
		</div>
		<div class="container-fluid layoutFluidGeral">
			<form id="formDetahesIntencao" class= "layoutformDetalhe" th:object="${intencaoCompra}">
				<div class="row">
					<div class="form-group  col-md-6">
					  <div class="list-group layoutformDetalheGroup">
						 
						    <div class="list-group-item">
							 <div class="row" style="padding-top: 5px;">
									<div class="col-sm-6  form-group">
										<div class="input-group">
											<div class="input-group-addon">Valor R$</div>
											<div>
												<input type="text" class="js-decimal form-control formataInputs" id="valor" th:field="*{valor}" readonly="readonly"/> 
											</div>
										</div>
									</div>
							 </div>

							<div class="row">
								<div class="col-sm-6  form-group">
									<div class="input-group">
										<div class="input-group-addon">Cidade</div>
										<div>
											<input type="text" class="form-control formataInputs" id="cidade" th:field="*{cidade}" readonly="readonly" />
										</div>
									</div>
								</div>
								<div class="col-sm-4  form-group">
									<div class="input-group">
										<div class="input-group-addon">Estado</div>
										<div>
											<input type="text" class="form-control formataInputs" id="uf" th:field="*{uf}" readonly="readonly" />
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-5  form-group">
									<div class="input-group">
										<div class="input-group-addon">Marca</div>
										<div>
											<input type="text" class="form-control formataInputs" id="cidade" th:field="*{modelo.fabricante.nome}" readonly="readonly" />
										</div>
									</div>
								</div>
								<div class="col-sm-7  form-group">
									<div class="input-group">
										<div class="input-group-addon">Modelo</div>
										<div>
											<input type="text" class="form-control formataInputs" id="uf" th:field="*{modelo.descricao}" readonly="readonly" />
										</div>
									</div>
								</div>
							</div>
							
					       </div>

						   <a href="#" class="list-group-item">
						     
						       <label class="control-label input-group-addon">Cores Desejadas</label>
						       <span th:each="cor : *{cores}" th:text="|${cor.descricao}${corStat.last ? '' : ', '}|"></span>
						   </a>
						   
						   <a href="#" class="list-group-item">
						     
						       <label class="control-label input-group-addon">Acessorios Desejados</label>
						       <span th:each="acessorio : *{acessorios}" th:text="|${acessorio.descricao}${acessorioStat.last ? '' : ', '}|"></span>
						   </a>
							
						   <div class="list-group-item">
								
								<div class="input-group col-sm-6">
								  <div class="input-group-addon">Potencia</div>
									<div>
									  <input type="text" class="form-control formataInputs" id="potencia" th:field="*{potencia.descricao}" readonly="readonly" />
									</div>
								</div>
							</div>	
					      	
								 
					</div>
					</div>
				 <div class="form-group  col-md-6 layoutGrupoDireito">
						  <div class="list-group layoutformDetalheGroup">
							<div class="list-group-item">

								<div class="input-group col-sm-10">
									<div class="input-group-addon">Tipo Combustível</div>
									<div>
										<input type="text" class="form-control formataInputs" id="tipoCombustivel" th:field="*{tipoCombustivel}" readonly="readonly" />
									</div>
								</div>
							</div>
							<div class="list-group-item">
							<div class="row">
								<div class="col-sm-6  form-group">
									<div class="input-group">
										<div class="input-group-addon">Tipo Roda</div>
										<div>
											<input type="text" class="form-control formataInputs" id="tipoRoda" th:field="*{tipoDeRoda}" readonly="readonly" />
										</div>
									</div>
								</div>
								<div class="col-sm-6  form-group">
									<div class="input-group">
										<div class="input-group-addon">Aro(s)</div>
										<div>
											<input type="text" class="form-control formataInputs" id="aroRoda" th:field="*{aroRoda}" readonly="readonly" />
										</div>
									</div>
								</div>
							</div>
							
					       </div>
						   
						    <div class="list-group-item">
								<div class="input-group col-sm-10">
									<div class="input-group-addon">Outras Caracteristicas</div>
									<div>
										<input type="text" class="form-control formataInputs" id="outrasCaracteristicas" th:field="*{outrasCaracteristicas}" readonly="readonly" />
									</div>
								</div>
							</div>
							<a href="#" class="list-group-item">
						     
						       <label class="control-label input-group-addon">Mensagem ao Fornecedor</label>
						       <textarea rows="6" class="form-control formataInputs" id="descricao" th:field="*{descricao}" readonly="readonly" style="padding-top: 2.1px;"/></textarea>
						    </a>	
						</div>  
					 </div>
				</div>		
			</form>
			<form id="formInteracao" class= "layoutformDetalhe" th:object="${interacao}" sec:authorize="hasRole('ROLE_FAZER_PROPOSTA')" th:if="${formProposta}">
                <input id="codigoPessoa" type="hidden" th:value="*{codigoPessoa}" th:field="*{codigoPessoa}"> 
                <input id="codigoIntencao" type="hidden" th:value="*{intencaoCompra.codigo}" th:field="*{intencaoCompra.codigo}">	
                <input id="codigoUsuario" type="hidden" th:value="*{codigoUsuario}" th:field="*{codigoUsuario}">   		
				<div class="row jumbotronCamposProposta">
	                <div class="alert  alert-danger  alert-dismissible js-div-erro-geral-interacao hidden" role="alert">
	                    <button type="button" class="close" data-dismiss="alert"
	                        aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                    <div id="js-msg-erro-veiculo" class="hidden">
	                        <i class="fa  fa-exclamation-circle"></i>É necesário informar o veículo
	                    </div>
	                    <div id="js-msg-erro-valor" class="hidden">
	                        <i class="fa  fa-exclamation-circle"></i>É necesário informar o valor
	                    </div>  
	                    <div id="js-msg-erro-descricao" class="hidden">
	                        <i class="fa  fa-exclamation-circle"></i>É necesário informar uma descrição para o possível comprador
	                    </div>
	                </div> 
			        <div id="success-alert-proposta"></div>	   
                    <div id="erro-alert-proposta" role="alert"></div> 			                      				
					<th:block th:replace="interacao/fornecedor/PropostaFornecedor :: formProposta"></th:block>
				</div>	
			</form>
            <div th:replace="interacao/CadastroIntermediarioVeiculo :: modal"></div> 
            <div th:replace="interacao/AlteracaoRapidaTelefone :: modal"></div> 			
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
	    <script th:src="@{/javascripts/proposta-fornecedor.js}"></script>
	    <script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	    <script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	    <script th:src="@{/javascripts/vendors/upload.min.js}"></script>    
	</th:block>
</body>
</html>