<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:compraki="http://compraki.com.br"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
<title>Detalhe Intenção</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/intencao-compra.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/interacao.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header js-topo-page">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Intenção de Compra Detalhada</h1>
					</div>
					
				</div>
			</div>
		</div>
		<div class="container-fluid layoutFluidGeral">
			<form id="formDetahesIntencao" class= "layoutformDetalhe" th:object="${intencaoCompra}">
				<div class="row">
					 <div class="form-group  col-sm-6">
						  <div class="list-group layoutformDetalheGroup">
							<a href="#" class="list-group-item active"></a> 
								<a href="#" class="list-group-item formataLabelInputs" >Valor Disponível:
								  <input type="text" class="js-decimal formataInputs" id="valor" th:field="*{valor}" readonly="readonly"/></a> 
								<a href="#" class="list-group-item formataLabelInputs"> Cidade:
								  <input type="text" id="cidade" class="formataInputs" th:field="*{cidade}" readonly="readonly"/>
								  - <input type="text" class="formataInputs" id="uf" th:field="*{uf}" readonly="readonly"/></a> 
								<a href="#" class="list-group-item formataLabelInputs">Marca:
								  <input type="text" class="formataInputs" id="marca" readonly="readonly"/>
								  Modelo:<input type="text" class="formataInputs" id="modelo" readonly="readonly"/></a> 
								<a href="#" class="list-group-item formataLabelInputs">Cores Desejadas:
									<span th:each="cor : *{cores}" th:text="|${cor.descricao}${corStat.last ? '' : ', '}|"></span>						  	
								</a>
								<a href="#" class="list-group-item formataLabelInputs">Acessórios Desejados:
									<span th:each="acessorio : *{acessorios}" th:text="|${acessorio.descricao}${acessorioStat.last ? '' : ', '}|"></span>
								</a>         
								<a href="#" class="list-group-item formataLabelInputs">Potência:
								  <input type="text" class="formataInputs" id="potencia" th:field="*{potencia}" readonly="readonly"/></a>
							
						  </div>
					 </div>
					 <div class="form-group  col-sm-6 layoutGrupoDireito">
						  <div class="list-group layoutformDetalheGroup">
							<a href="#" class="list-group-item active"></a> 
							 <a href="#" class="list-group-item formataLabelInputs">Tipo Combustível:
								  <input type="text" class="formataInputs" id="tipoCombustivel" th:field="*{tipoCombustivel}" readonly="readonly"/></a>
							 <a href="#" class="list-group-item formataLabelInputs"> Tipo de Roda:
								  <input type="text" id="tipoDeRoda" class="formataInputs" th:field="*{tipoDeRoda}" readonly="readonly"/>
								  Aro(s):<input type="text" class="formataInputs" id="aroRoda" th:field="*{aroRoda}" readonly="readonly"/></a>  
							 <a href="#" class="list-group-item formataLabelInputs">Outras Características:
								  <input type="text" class="formataInputs" id="outrasCaracteristicas" th:field="*{outrasCaracteristicas}" readonly="readonly"/></a>
							 <a href="#" class="list-group-item formataLabelInputs">Mensagem ao Fornecedor:
								 <textarea rows="4" class="form-control formataInputs" id="descricao" th:field="*{descricao}" readonly="readonly"/></textarea></a> 	   
						  </div>
					 </div>
				</div>		
			</form>
			<form id="formInteracao" class= "layoutformDetalhe" th:object="${interacao}">
				<div class="row jumbotronCamposProposta">
					<th:block th:replace="interacao/fornecedor/PropostaFornecedor :: formProposta"></th:block>
				</div>	
			</form>
		</div>
		<div th:replace="interacao/CadastroIntermediarioVeiculo :: modal"></div>
		<div th:replace="interacao/AlteracaoRapidaTelefone :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
	    <script th:src="@{/javascripts/proposta-fornecedor.js}"></script>
	    <script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	    <script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	    <script th:src="@{/javascripts/vendors/upload.min.js}"></script>    
	</th:block>
</body>
</html>