<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:compraki="http://compraki.com.br"
    layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Minha Conta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/intencao-compra.css}"/>
</head>

<section layout:fragment="conteudo">
    <div class="row page-header">
    	<div class="container-fluid">
	        <div class="col-xs-11">
	            <h1>Nova Intenção de Compra</h1>
	        </div>
	       
        </div>
    </div>
   	<div class="container-fluid">
	    <form class="form-horizontal" method="post" th:action="@{/intencoes/novo}" th:object="${intencaoCompra}">
	    <compraki:message/>
    	<div class="panel panel-default">
    		<div class="panel-heading it-panelTituloLink">
    			<div class="clearfix">
	   				<h1 class="panel-title it-titulo-panel">Escolha as intenções desejadas</h1>
					<a class="btn btn-link it-link-panel" href="">Ver Intenções de Compras</a>
	   			</div>
    		</div>
    		
    		<div class="panel-body">
    			<input id="idHidden" type="hidden" th:field="*{codigo}"/>
    		  <div class="row">
				<div class="form-group compraki-required" compraki:classforerror="marca" >
					<label for="marca" class="col-sm-2 control-label">Marca</label>
					<div class="col-sm-2"> 
						<input type="text" class="form-control js-input-marca" id="marca" th:field="*{marca}"/>
					</div>
				</div>
				<div class="form-group">
                    <label for="modelo" class="col-sm-2 control-label">Modelo</label>
                 	<div class="col-sm-2">   
                    	<select id="modelo" class="form-control js-select-search" th:field="*{modelo.descricao}">
                        	<option value=""></option>
                        	<option value="Cidades"></option>
                    	</select>
                 	 </div>
                </div> 
               </div> 
                <div class="row">      
				<div class="form-group compraki-required" compraki:classforerror="ano">
					<label for="ano" class="col-sm-2 control-label">Ano</label>
					<div class="col-sm-2"> 
						<input type="text" class="form-control" id="ano" th:field="*{ano}"/>
					</div>
				</div>
				<div class="form-group compraki-required" compraki:classforerror="valor">
					<label for="valor" class="col-sm-2 control-label">Valor</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control js-decimal" id="valor" th:field="*{valor}"/>
					</div>
				</div>
				<div class="form-group compraki-required" compraki:classforerror="tipoCombustivel">
					<label for="valor" class="col-sm-2 control-label">Tipo de Combustivel</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control" id="tipoCombustivel" th:field="*{tipoCombustivel}"/>
					</div>
				</div>
				<div class="form-group compraki-required" compraki:classforerror="outrasCaracterísticas">
					<label for="valor" class="col-sm-2 control-label">Outras características</label>
					<div class="col-sm-5">   
						<input type="text" class="form-control" id="outrasCaracterísticas" th:field="*{outrasCaracterísticas}"/>
					</div>
				</div>
				<div class="form-group compraki-required" compraki:classforerror="potencia">
					<label for="valor" class="col-sm-2 control-label">Potência do Veiculo</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control" id="outrasCaracterísticas" th:field="*{potencia}"/>
					</div>
				</div>
					
				<div class="form-group" compraki:classforerror="descricao">
					<label for="descricao" class="col-sm-2 control-label">Descrição do Veiculo</label>
					<div class="col-sm-5">   
						<textarea rows="5" class="form-control" id="descricao" th:field="*{potencia}"></textarea>
					</div>
				</div>
				<div class="form-group compraki-required" compraki:classforerror="tipoDeRoda">
					<label for="valor" class="col-sm-2 control-label">Tipo de roda</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control" id="tipoDeRoda" th:field="*{tipoDeRoda}"/>
					</div>
				</div>
				<div class="form-group">
                    <label for="cidades" class="col-sm-2 control-label">Cidade de Preferencia</label>
                 	<div class="col-sm-2">   
                    	<select id="estados" class="form-control">
                        	<option value="UF"></option>
                        </select>
                 	 </div>
                 	 <div class="col-sm-3">   
                    	<select id="cidades" class="form-control" th:field="*{modelo.descricao}">
                        	
                    	</select>
                 	 </div>
                </div> 			
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
    	</div>
    </form>
    </div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/intencao-compra.js}"></script>
</th:block>
</html>