<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:compraki="http://compraki.com.br">
    
<head>
    <title>Pesquisa de Intenções de Compra</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/proposta-recebida.css}"/>
</head>

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de Intenções de Compra</h1>
                </div>
                
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn  btn-default" th:href="@{/intencoes/novo}">
                            <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova Intenção de Compra</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <form method="GET" th:object="${intencaoFilter}">
	        <div class="row">
                <div class="form-group  col-sm-2">
                    <label class="control-label" for="codigo">Código</label>
                    <input type="text" class="form-control js-integer" id="codigo" autofocus="autofocus" th:field="*{codigo}"/>
                </div>	        
	             <div class="col-sm-2  form-group">
	                 <label class="control-label">Valor apartir de</label>
	                 <div class="input-group">
	                     <div class="input-group-addon">Valor R$</div>
	                     <div>
                         	<input id="valorInicial" type="text" class="form-control js-decimal" 
                         		th:field="*{valorInicial}"/>
	                     </div>                       
	                 </div>
	             </div>
	             <div class="col-sm-2  form-group">
	                 <label class="control-label">Valor ate</label>
	                 <div class="input-group">
	                     <div class="input-group-addon">Valor R$</div>
	                     <div>
                         	<input id="valorFinal" type="text" class="form-control js-decimal" th:field="*{valorFinal}"/>
	                     </div>                       
	                 </div>
	             </div>	
             <div class="col-sm-3  form-group">
                 <label class="control-label">Tipo de Combustivel</label>
                 <div class="input-group">
                     <div class="input-group-addon">Tipo</div>
                     <div>
                        <select id="tipoCombustivel" class="form-control js-select-search" th:field="*{combustivel}">
                         <option value=""></option>
                         <option th:each="tipoCombustivel : ${tiposCombustivel}" th:text="${tipoCombustivel.descricao}" th:value="${tipoCombustivel}"></option>
                        </select>
                     </div>                       
                 </div>
             </div>
             <div class="col-sm-3  form-group">
                 <label class="control-label">Potência do Veículo</label>
                 <div class="input-group">
                     <div class="input-group-addon">Potência</div>
                     <div>
                        <select id="potencia" class="form-control js-select-search" th:field="*{potencia}">
                            <option value=""></option>
                            <option th:each="potencia : ${potencias}" th:text="${potencia.descricao}" th:value="${potencia}"></option>
                        </select>
                     </div>                       
                 </div>
             </div>	                          
	       </div>        
            <div class="row">
	            <div class="col-sm-3  form-group">
	                <label for="uf" class="control-label">Estado de preferência</label>
	                <div class="input-group">
	                    <div class="input-group-addon">Estado</div>
	                    <div>
	                        <select id="uf" class="form-control js-select-search" th:field="*{uf}">
	                            <option value=""></option>
	                            <option th:each="uf : ${ufs}" th:text="${uf.nome}+' ('+${uf.sigla} + ')'" th:value="${uf.sigla}"></option>
	                        </select>
	                    </div>                       
	                </div>
	            </div>  
	            <div class="col-sm-3  form-group">
	                <label for="cidade" class="control-label">Cidade de preferência</label>
	                <div class="input-group">
	                    <div class="input-group-addon">Cidade</div>
	                    <div>
	                        <select id="cidade" class="form-control js-select-search" data:url="@{/intencoes/buscarCidades}" th:field="*{cidadePreferencia}">                       
	                        </select>
	                    </div>                       
	                </div>
	            </div>              
                <div class="form-group  col-sm-3">
                   <label for="marca" class="control-label">Marca</label>
                   <select id="marca" class="form-control js-select-search" th:field="*{fabricante}">
                       <option value=""></option>
                       <option th:each="fabricante : ${fabricantes}" th:text="${fabricante.nome}" th:value="${fabricante.codigo}"></option>
                   </select>                
                </div>            
                <div class="form-group  col-sm-3">
                    <label class="control-label" for="cnpj">Modelo</label>
                    <select id="modelo" class="form-control js-select-search js-combo-modelo" data:url="@{/intencoes/buscarModelos}" th:field="*{modelo}">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2">
                    <label class="control-label" for="tipo">Tipo:</label>
                    <select id="tipoVeiculo" class="form-control selectpicker" data-live-search="true" th:field="*{tipoVeiculo}">
                    	<option value="" selected>Selecione uma opção</option>
                        <option th:each="tipoVeiculo : ${tipoVeiculos}" th:text="${tipoVeiculo.descricao}" th:value="${tipoVeiculo}"></option>
                    </select>
                </div>
                <div class="form-group  col-sm-3">
                    <label for="corCarro" class="control-label">Cores</label>
                    <div class="bw-field-action">
                       <select id="corCarro" class="form-control js-select-search" th:field="*{cores}" multiple >
                           <option value=""></option>
                           <option th:each="cor : ${cores}" th:text="${cor.descricao}" th:value="${cor.codigo}"></option>
                       </select>
                    </div>
                </div> 
                <div class="form-group  col-sm-3">
                    <label for="acessorioCarro" class="control-label">Acessorios</label>
                    <div class="bw-field-action">
                       <select id="acessorioCarro" class="form-control js-select-search" th:field="*{acessorios}" multiple >
                           <option value=""></option>
                           <option th:each="acessorio : ${acessorios}" th:text="${acessorio.descricao}" th:value="${acessorio.codigo}"></option>
                       </select>
                    </div>
                </div> 
                <div class="col-sm-4  form-group" sec:authorize="hasRole('ROLE_FAZER_PROPOSTA')">
                    <label for="cidade" class="control-label">Mostrar somente minhas Intenções de Compra</label>
                    <div class="input-group">
                        <div class="input-group-addon">Escolha...</div>
                        <div>
						    <span class="button-checkbox">
						        <button type="button" class="btn" data-color="primary" title="Escolha e clique em pesquisar"></button>
						        <input type="checkbox" class="hidden" th:field=*{todasIntencoes} />
						    </span>
                        </div>                       
                    </div>
                </div>                   
            </div>
            <button type="submit" class="btn  btn-primary">Pesquisar</button>
        </form>
        
        <div class="table-responsive  bw-tabela-simples">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th><compraki:order page="${pagina}" field="codigo" text="Código"/></th>
                        <th><compraki:order page="${pagina}" field="valor" text="Valor"/></th> 
                        <th><compraki:order page="${pagina}" field="modelo.fabricante" text="Marca"/></th> 
                        <th><compraki:order page="${pagina}" field="modelo" text="Modelo"/></th> 
                        <th><compraki:order page="${pagina}" field="tipoVeiculo" text="Tipo" class="text-center"/></th> 
                        <th>Cores</th>
                        <th>Proposta(s)</th>
                        <th>Ações</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="intencao : ${pagina.conteudo}">
                        <td th:text="${intencao.codigo}" class="text-left"></td>
                        <td th:text="|R$ ${intencao.valor}|"></td>                       
                        <td th:text="${intencao.modelo.fabricante.nome}"></td>
                        <td th:text="${intencao.modelo.descricao}"></td>
                        <td th:text="${intencao.tipoVeiculo.descricao}"></td>  
                        <td>
                            <span th:each="cor : ${intencao.cores}" th:text="|${cor.descricao}${corStat.last ? '' : ', '}|"></span>
                        </td>
                        <td>
					        <ul class="nav navbar-nav">
					            <li class="dropdown">
					              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-envelope fa-lg"></i>
                                   <span class="badge">4</span></a>
					              <ul class="dropdown-menu dropdown-cart" role="menu">
					                  <li>
										<div class="container" style="max-width: 200px;">
										   <div class="blockquote-box clearfix grow">
										       <div class="square pull-left grow">
												   <a href="#">
                                                        <img th:src="@{/images/thumbnail.1a163583-0b94-4601-bc64-095808068bf9_aranha.jpg}"></img>
												   </a>
										       </div>
							                   <div class="aw-box__icon">
							                        <span class="label label-primary" style="font-size: 11px">R$10.000,00</span>
							                   </div>
							                   <br/>										       
										       <div class="pull-left">
										          <div class="aw-box__title">Gol G3 2005</div>
										       </div>
										   </div>
										</div>
					                  </li>
					                  <li>
                                        <div class="container" style="max-width: 200px;">
                                           <div class="blockquote-box clearfix grow">
                                               <div class="square pull-left grow">
                                                   <a href="#">
                                                        <img th:src="@{/images/thumbnail.1a163583-0b94-4601-bc64-095808068bf9_aranha.jpg}"></img>
                                                   </a>
                                               </div>
                                               <div class="aw-box__icon">
                                                    <span class="label label-primary" style="font-size: 11px">R$15.000,00</span>
                                               </div>
                                               <br/>                                               
                                               <div class="pull-left">
                                                  <div class="aw-box__title">Gol G3 2006</div>
                                               </div>
                                           </div>
                                        </div>
					                  </li>
					                  <li>
                                        <div class="container" style="max-width: 200px;">
                                           <div class="blockquote-box clearfix grow">
                                               <div class="square pull-left grow">
                                                   <a href="#">
                                                        <img th:src="@{/images/thumbnail.1a163583-0b94-4601-bc64-095808068bf9_aranha.jpg}"></img>
                                                   </a>
                                               </div>
                                               <div class="aw-box__icon">
                                                    <span class="label label-primary" style="font-size: 11px">R$20.000,00</span>
                                               </div>
                                               <br/>                                               
                                               <div class="pull-left">
                                                  <div class="aw-box__title">Gol G3 2008</div>
                                               </div>
                                           </div>
                                        </div>
					                  </li>
					                  <li>
                                        <div class="container" style="max-width: 200px;">
                                           <div class="blockquote-box clearfix grow">
                                               <div class="square pull-left grow">
                                                   <a href="#">
                                                       <img th:src="@{/images/thumbnail.1a163583-0b94-4601-bc64-095808068bf9_aranha.jpg}"></img>
                                                   </a>
                                               </div>
                                               <div class="aw-box__icon">
                                                    <span class="label label-primary" style="font-size: 11px">R$12.000,00</span>
                                               </div>
                                               <br/>                                               
                                               <div class="pull-left">
                                                  <div class="aw-box__title">Gol G3 2002</div>
                                               </div>
                                           </div>
                                        </div>
					                  </li>
					                  <!-- 
						                  <li class="divider"></li>
						                  <li><a class="text-center" href="#">Fechar</a></li>
					                   -->
					              </ul>
					            </li>        
					        </ul>                        
                        </td>
                        <td class="text-left">
                            <a class="btn  btn-link  btn-xs" title="Editar" 
                                    th:href="@{/intencoes/{codigo}(codigo=${intencao.codigo})}"> 
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn  btn-link  btn-xs" title="Detalhar" 
                                    th:href="@{/detalhesIntencao/{codigo}(codigo=${intencao.codigo})}"> 
                                <i class="glyphicon glyphicon-search"></i>
                            </a>
                        </td>                        
                    </tr>
                    <tr th:if="${pagina.vazia}">
                        <td colspan="7">Nenhuma intenção encontrada</td>
                    </tr>
                </tbody>
            </table>
        </div>
       <compraki:pagination page="${pagina}" />
    </div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/pesquisa-intencoes.js}"></script>
    <script>
	    $(function () {
	        $('.button-checkbox').each(function () {
	
	            // Settings
	            var $widget = $(this),
	                $button = $widget.find('button'),
	                $checkbox = $widget.find('input:checkbox'),
	                color = $button.data('color'),
	                settings = {
	                    on: {
	                        icon: 'glyphicon glyphicon-check'
	                    },
	                    off: {
	                        icon: 'glyphicon glyphicon-unchecked'
	                    }
	                };
	
	            // Event Handlers
	            $button.on('click', function () {
	                $checkbox.prop('checked', !$checkbox.is(':checked'));
	                $checkbox.triggerHandler('change');
	                updateDisplay();
	            });
	            $checkbox.on('change', function () {
	                updateDisplay();
	            });
	
	            // Actions
	            function updateDisplay() {
	                var isChecked = $checkbox.is(':checked');
	
	                // Set the button's state
	                $button.data('state', (isChecked) ? "on" : "off");
	
	                // Set the button's icon
	                $button.find('.state-icon')
	                    .removeClass()
	                    .addClass('state-icon ' + settings[$button.data('state')].icon);
	
	                // Update the button's color
	                if (isChecked) {
	                    $button
	                        .removeClass('btn-default')
	                        .addClass('btn-' + color + ' active');
	                    $button.text('   Desmarque para buscar todas');
	                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
	                }
	                else {
	                    $button
	                        .removeClass('btn-' + color + ' active')
	                        .addClass('btn-default');
	                    $button.text('');
	                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
	                }
	            }
	
	            // Initialization
	            function init() {
	
	                updateDisplay();
	
	                // Inject the icon if applicable
	                if ($button.find('.state-icon').length == 0) {
	                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
	                }
	            }
	            init();
	        });
	    });
    </script>    
</th:block>
</body>
</html>
