<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:compraki="http://compraki.com.br">
    
<head>
    <title>Pesquisa de Intenções de Compra</title>
</head>

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de Intenções de Compra</h1>
                </div>
                
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn  btn-default" th:href="@{/intencoes/novo}">
                            <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova Intenção de Compra</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <form method="GET" th:object="${intencaoFilter}">
            <div class="row">
                <div class="form-group  col-sm-2">
                    <label class="control-label" for="codigo">Código</label>
                    <input type="text" class="form-control js-integer" id="codigo" autofocus="autofocus" th:field="*{codigo}"/>
                </div>
                <div class="form-group  col-sm-5">
                   <label for="marca" class="control-label">Marca</label>
                   <select id="marca" class="form-control js-select-search" th:field="*{fabricante}">
                       <option value=""></option>
                       <option th:each="fabricante : ${fabricantes}" th:text="${fabricante.nome}" th:value="${fabricante.codigo}"></option>
                   </select>                
                </div>            
                <div class="form-group  col-sm-5">
                    <label class="control-label" for="cnpj">Modelo</label>
                    <select id="modelo" class="form-control js-select-search js-combo-modelo" data:url="@{/intencoes/buscarModelos}" th:field="*{modelo}">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label class="control-label" for="tipo">Tipo:</label>
                    <select id="tipoVeiculo" class="form-control selectpicker" data-live-search="true" th:field="*{tipoVeiculo}">
                    	<option value="" selected>Selecione uma opção</option>
                        <option th:each="tipoVeiculo : ${tipoVeiculos}" th:text="${tipoVeiculo.descricao}" th:value="${tipoVeiculo}"></option>
                    </select>
                </div>
                <div class="form-group  col-sm-6 ">
                    <label for="corCarro" class="control-label">Cores</label>
                    <div class="bw-field-action">
                       <select id="corCarro" class="form-control js-select-search" th:field="*{cores}" multiple >
                           <option value=""></option>
                           <option th:each="cor : ${cores}" th:text="${cor.descricao}" th:value="${cor.codigo}"></option>
                       </select>
                    </div>
                </div>                                            
            </div>
            <button type="submit" class="btn  btn-primary">Pesquisar</button>
        </form>
        
        <div class="table-responsive  bw-tabela-simples">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th><compraki:order page="${pagina}" field="codigo" text="Código"/></th>
                        <th><compraki:order page="${pagina}" field="valor" text="Valor"/></th> 
                        <th><compraki:order page="${pagina}" field="modelo.fabricante" text="Marca"/></th> 
                        <th><compraki:order page="${pagina}" field="modelo" text="Modelo"/></th> 
                        <th><compraki:order page="${pagina}" field="tipoVeiculo" text="Tipo" class="text-center"/></th> 
                        <th>Cores</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="intencao : ${pagina.conteudo}">
                        <td th:text="${intencao.codigo}" class="text-left"></td>
                        <td th:text="|R$ ${intencao.valor}|"></td>                       
                        <td th:text="${intencao.modelo.fabricante.nome}"></td>
                        <td th:text="${intencao.modelo.descricao}"></td>
                        <td th:text="${intencao.tipoVeiculo.descricao}"></td>  
                        <td>
                            <span th:each="cor : ${intencao.cores}" th:text="|${cor.descricao}${corStat.last ? '' : ', '}|"></span>
                        </td>
                        <td class="text-left">
                            <a class="btn  btn-link  btn-xs" title="Editar" 
                                    th:href="@{/intencoes/{codigo}(codigo=${intencao.codigo})}"> 
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${pagina.vazia}">
                        <td colspan="7">Nenhuma intenção encontrada</td>
                    </tr>
                </tbody>
            </table>
        </div>
       <compraki:pagination page="${pagina}" />
    </div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/pesquisa-intencoes.js}"></script>
</th:block>
</body>
</html>
