.search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url("/compraki/images/searchicon.png"); 
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: -14px;
    color: black;
}

.search:focus {
    width: 50%;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

@media (max-width: 768px) { /* screen-sm-min */
    .search {
        width: 60px;
        margin-left: 30%;
    }
    .search:focus {
        margin-left: 30%;
        width: 30%;
    }
}