#search-floating-panel {
	position: absolute;
	top: 5px;
	left: 15%;
	z-index: 1;
	background-color: #000033;
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: 'Roboto', 'sans-serif';
	padding-left: 10px;
	width: 56%;
	border-radius: 5px;
	height: 85%;
}

#search-input {
	width: 100%;
	box-sizing: border-box;
	border: 4px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-image: url("/compraki/images/searchicon.png");
	background-position: 10px 7px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	color: black;
}

#search-button {
	width: 13%;
}

#search-table {
	text-align: center;
	margin: 0 auto;
}

#search-map-results tr td {
	font-size: 12px;
	padding: 2px;
	overflow: hidden;
}

@media ( max-width : 1000px) { /* screen-sm-min */
	#search-floating-panel {
		width: 50%;
		left: 20%;
	}
	#search-input {
		background-position: 1px 7px;
		width: 95%
	}
}

@media ( max-width : 800px) { /* screen-sm-min */
	#search-floating-panel {
		width: 63%;
		left: 35%;
	}
	#search-input {
		background-position: 1px 7px;
		width: 95%
	}
}

@media ( max-width : 700px) { /* screen-sm-min */
	#search-floating-panel {
		width: 53%;
		left: 30%;
	}
	#search-input {
		background-position: 1px 7px;
		width: 95%
	}
}


@media ( max-width : 600px) { /* screen-sm-min */
	#search-floating-panel {
		width: 57%;
		left: 30%;
	}
	#search-input {
		background-position: 1px 7px;
		width: 95%
	}
}

@media ( max-width : 550px) { /* screen-sm-min */
	#search-floating-panel {
		display: none;
	}
	#search-input {
		display: none;
	}
}