/* Campo Telefone  */	
.layoutTelefone{
	text-decoration: underline;
}

/* Botão Enviar Proposta  */
.layoutBotaoEnviarProposta{
	background-color: rgba(251,154,8, 0.88);
	border-color: rgba(251,154,8, 0.88); 
	font-size: 15px;
}

.formatFonteInteracao{
	font-size: 14px;
}

hr{
  border-color:#1e94d2;
  box-sizing:border-box;
  width:70%;  
}

 /* Div jumbotron dos campos da proposta  */
 .jumbotronCamposProposta{
 	padding-top: 20px;
 	padding-bottom: 20px;
    margin-right: 1%;
 }  