.nav.navbar-nav li {
	float: left;
}

.nav.navbar-nav li a.mlogin {
	position: relative;
}

div.modal#loginmodal {
	position: absolute;
	width: 200px;
	height: 300px;
	top: 30px;
	left: 0;
	padding: 0;
	margin: 0;
}

div.modal#loginmodal .modal-footer {
	padding: 5px;
	margin: 0;
}

div.modal#loginmodal .modal-body {
	padding: 10px 20px;
	margin: 0;
}

div.modal#loginmodal .modal-header {
	padding: 5px 20px;
	margin: 0;
}

.modal-backdrop {
	display: none;
}