.navbar-static-top{
	background-color: #00BFFF;
}

.panel-default{
	margin-left: 10px;
	margin-right: 10px;
	
}
.alert{
	margin-left: 10px;
	margin-right: 10px;
}
.panel-default>.panel-heading{
	background-color: #000033;
}

.it-titulo-panel{
	float: left;
	padding-top: 5px;
	color: white;
}
.it-link-panel{
	float: right;
	padding: 0px;
	color: white;
}

.it-panelTituloLink{
	padding-top: 15px;
	padding-bottom: 15px;
}
.paraChoqueCss{
	padding-top: 0px;
}

/* Componente multiple  */    
    .bootstrap-duallistbox-container .moveall, .bootstrap-duallistbox-container .removeall{
	width: 50%;
	}
	.bootstrap-duallistbox-container .move, .bootstrap-duallistbox-container .remove{
	width: 50%;
	background-color: springgreen;
	}
	

  /* Detalhes De Intenção de Compra  */  
 
 .layoutformDetalhe{
 	padding-left: 0px;
 }
 




