<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data">
    
<body>
<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar" th:fragment="navbar">
    <div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand  hidden-xs" href="#">
            <img alt="Compraki" th:src="@{/images/logo_compraki.jpg}" style="height: 49px; width: 118px; margin-top: -15px"/>
        </a>

        <ul class="nav  navbar-nav">
            <li>
                <a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
            </li>
        </ul>
    </div>

    <ul class="nav navbar-nav  navbar-right">
    	<li>
		    <a th:href="@{/usuarios/novo}" class="btn-lg  aw-btn-full-width">
		        <i class="fa fa-user" aria-hidden="true" th:text="|  Olá ${#authentication.principal.usuario.nome}|" data-toggle="tooltip" data-placement="bottom" 
		                  title="Minha Conta"></i> 
		    </a>    	
    	</li>
    
        <li>
            <a th:href="@{/logout}"><em class="fa  fa-sign-out" data-toggle="tooltip" data-placement="bottom" title="Sair do Sistema"></em></a>
        </li> 
    </ul>

  </div>
</nav>
</body>
</html>