<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org">
    
<body>
<nav class="navbar  navbar-fixed-top  navbar-default" id="main-navbar" th:fragment="navbar">
    <div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand  hidden-xs" th:href="@{/login}">
            <img alt="Compraki" th:src="@{/images/logo_compraKI.png}" style="height: 49px; width: 118px; margin-top: -15px"/>
        </a>
    </div>

  </div>
</nav>
</body>
</html>