<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
   	xmlns:compraki="http://compraki.com.br"
   	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
    <div class="aw-layout-sidebar__content">

        <nav class="aw-menu  js-menu">
            <ul class="aw-menu__list">

                <li class="aw-menu__item">
                    <a th:href="@{/}"><i class="fa  fa-fw  fa-home"></i><span>Home</span></a>
                </li>
                
                <li class="aw-menu__item">
                    <a href="#">
                        <i class="fa  fa-fw  fa fa-shopping-basket"></i><span>Intenções de Compra</span>
                        <i class="aw-menu__navigation-icon  fa"></i>
                    </a>
      
                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link" compraki:menu="@{/intencoes.+}">
                            <a th:href="@{/intencoes/novo}">Nova intenção de compra</a>
                        </li>
                        <li class="aw-menu__item  aw-menu__item--link" compraki:menu="@{/intencoes}">
                            <a th:href="@{/intencoes}">Pesquisa de Intenções</a>
                        </li>
                        
                    </ul>
                </li>

                <li class="aw-menu__item" sec:authorize="hasRole('ROLE_CADASTRAR_VEICULO')">
                    <a href="#">
                        <i class="fa fa-fw fa-bus"></i><span>Veículos</span>
                        <i class="aw-menu__navigation-icon  fa"></i>
                    </a>
      
                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link" compraki:menu="@{/carros.+}">
                            <a th:href="@{/carros/novo}">Cadastro de Veículo</a>
                        </li>
                        
                        <li class="aw-menu__item  aw-menu__item--link" compraki:menu="@{/carros}">
                            <a th:href="@{/carros}">Pesquisa de Veículo</a>
                        </li>
                    </ul>
                </li>

                <li class="aw-menu__item" sec:authorize="hasRole('ROLE_CADASTRAR_USUARIO')">
                    <a href="#">
                        <i class="fa  fa-fw  fa-database"></i><span>Cadastros</span>
                        <i class="aw-menu__navigation-icon  fa"></i>
                    </a>

                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link" compraki:menu="@{/acessorios.+}">
                            <a th:href="@{/acessorios}">Acessorios</a>
                        </li>
                    </ul>
                </li>
              
	            <li class="aw-menu__item">
	                <a th:href="@{/interacao/propostas}"><i class="glyphicon glyphicon-usd"></i><span>Propostas</span></a>
	            </li>
                

            </ul>
        </nav>
    </div>
</aside>
</body>
</html>