<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data">
    
<th:block th:fragment="pagination (pagina, link)">

<!-- 
    <div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
        <nav>
            <ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}">
                <li th:class="${pagina.primeira} ? disabled">
                    <a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a>
                </li>
                <th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}">
                    <li th:class="${paginaAtual == numeroPagina} ? active">
                        <a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
                    </li>
                </th:block>
                
                <li th:class="${pagina.ultima} ? disabled">
                    <a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </div>
 -->

		<div class="row" style="margin-top: 2%;" th:if="${not pager.vazia}">
			<div class="form-group col-md-1">
				<select class="form-control pagination" id="pageSizeSelect" data:link="${link}">
					<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"  
						th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>
				</select>
			</div>
			<div class="form-group col-md-11 text-center">
				<ul class="pagination" th:with="link=${link},size=${pager.size == 1 ? 1 : 0}">
					<li th:remove="${pagina.number == 0} ? all" th:with="tableSize=${selectedPageSize},paginaAtual=1">
						<a class="pageLink" th:href="@{${pager.urlParaPagina(link, tableSize, paginaAtual)}(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
					</li>
					<li th:remove="${pagina.number == 0} ? all" th:with="tableSize=${selectedPageSize},paginaAtual=${pagina.number}">
						<a class="pageLink" th:href="@{${pager.urlParaPagina(link, tableSize, paginaAtual)}(pageSize=${selectedPageSize}, page=${pagina.number})}">&larr;</a>
					</li>
					<li th:class="${pagina.number == (page - 1)} ? 'active pointer-disabled'" 
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage+size)}" th:with="tableSize=${selectedPageSize},paginaAtual=${page}">
						<a class="pageLink" th:href="@{${pager.urlParaPagina(link, tableSize, paginaAtual)}(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
					</li>
					<li th:remove="${pagina.number + 1 == pagina.totalPages} ? all" th:with="tableSize=${selectedPageSize},paginaAtual=${pagina.number + 2}">
						<a  class="pageLink" th:href="@{${pager.urlParaPagina(link, tableSize, paginaAtual)}(pageSize=${selectedPageSize}, page=${pagina.number + 2})}">&rarr;</a>
					</li>
					<li th:remove="${pagina.number + 1 == pagina.totalPages} ? all" th:with="tableSize=${selectedPageSize},paginaAtual=${pagina.totalPages}">
						<a class="pageLink" th:href="@{${pager.urlParaPagina(link, tableSize, paginaAtual)}(pageSize=${selectedPageSize}, page=${pagina.totalPages})}">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>
</th:block>
    
</html>