<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:compraki="http://compraki.com.br"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Cadastro de Veículo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<section layout:fragment="conteudo" >
    <div class="page-header js-topo-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Cadastro de Veículo</h1>
                </div>
                
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
	                    <a class="btn  btn-primary" th:href="@{/carros}">
	                        <i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar</span>
	                    </a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <th:block th:replace="carro/fragments/FormVeiculo :: formVeiculo"></th:block>
    <div th:replace="marca/CadastroRapidoMarca :: modal"></div>
    <th:block th:replace="hbs/FotoVeiculo"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/cadastro-carro.js}"></script>
    <script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
    <script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
    <script th:src="@{/javascripts/vendors/upload.min.js}"></script>
    <script>
       $(function() {
           $('body').tooltip({
        	    selector: '[data-toggle="tooltip"]'
        	});           
       });
    </script>    
</th:block>
</html>