<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:compraki="http://compraki.com.br">
    
<head>
    <title>Pesquisa de veículos</title>
</head>

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de veículos</h1>
                </div>
                
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn  btn-default" th:href="@{/carros/novo}">
                            <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo Veículo</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <form method="GET" th:object="${carroFilter}">
            <div class="row">
                <div class="form-group  col-sm-3">
                    <label class="control-label" for="codigo">Código</label>
                    <input type="text" class="form-control js-integer" id="codigo" autofocus="autofocus" th:field="*{codigo}"/>
                </div>            
                <div class="form-group  col-sm-9">
                    <label class="control-label" for="cnpj">Modelo</label>
                    <input type="text" class="form-control" id="modelo" autofocus="autofocus" th:field="*{modelo}" placeholder="Ex: Gol 1.0 16V"/>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group  col-sm-4">
                   <label for="marca" class="control-label">Marca</label>
                   <select id="marca" class="form-control js-select-search" th:field="*{fabricante}">
                       <option value=""></option>
                       <option th:each="fabricante : ${fabricantes}" th:text="${fabricante.nome}" th:value="${fabricante.codigo}"></option>
                   </select>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label" for="tipo">Tipo:</label>
                    <select id="tipoVeiculo" class="form-control selectpicker" data-live-search="true" th:field="*{tipoVeiculo}" >
                        <option th:each="tipoVeiculo : ${tipoVeiculos}" th:text="${tipoVeiculo.descricao}" th:value="${tipoVeiculo}"></option>
                    </select>
                </div>                            
                <div class="form-group  col-sm-4">
                    <label class="control-label" for="cor">Cor</label>
                    <select id="cor" class="form-control js-select-search" th:field="*{cor}">
                        <option value=""></option>
                        <option th:each="cor : ${cores}" th:text="${cor.descricao}" th:value="${cor.codigo}"></option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn  btn-primary">Pesquisar</button>
        </form>
        
        <div class="table-responsive  bw-tabela-simples">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th class="table-carros-col-foto"></th>
                        <th><compraki:order page="${pagina}" field="codigo" text="Código"/></th> 
                        <th><compraki:order page="${pagina}" field="modelo" text="Modelo"/></th> 
                        <th><compraki:order page="${pagina}" field="fabricante.nome" text="Marca"/></th> 
                        <th><compraki:order page="${pagina}" field="tipoVeiculo" text="Tipo" class="text-center"/></th> 
                        <th>Cor</th>
                        <th>Descricao</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="carro : ${pagina.conteudo}">
                        <td class="text-center" th:if="${carro.foto != null && not #strings.isEmpty(carro.foto)}">
                            <img th:src="@{/fotos/thumbnail.{foto}(foto=${carro.foto})}" class="img-responsive"/>
                        </td>
                        <td class="text-center" th:if="${carro.foto == null || #strings.isEmpty(carro.foto)}">
							<div class="aw-box__icon">
								<i class="fa  fa-picture-o  fa-2x"></i>
							</div>
                        </td> 
                        <td th:text="${carro.codigo}" class="text-left"></td>                       
                        <td th:text="${carro.modelo.descricao}"></td>
                        <td th:text="${carro.modelo.fabricante.nome}"></td>
                        <td th:text="${carro.tipoVeiculo.descricao}"></td>  
                        <td th:text="${carro.cor.descricao}"></td>
                        <td th:text="${carro.descricao}"></td>
                        <!-- 
                        <td class="text-right" th:text="|R$ ${cerveja.valor}|"></td>
                         -->
                        <td class="text-left">
                            <a class="btn  btn-link  btn-xs" title="Editar" 
                                    th:href="@{/carros/{codigo}(codigo=${carro.codigo})}"> 
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${pagina.vazia}">
                        <td colspan="7">Nenhum veículo encontrado</td>
                    </tr>
                </tbody>
            </table>
        </div>
       <compraki:pagination page="${pagina}" />
    </div>
</section>
</body>
</html>
