<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:agr="http://compraki.com.br"
    layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Compraki</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/carousel.css}"/>
</head>

<section layout:fragment="conteudo">
 <div class="container-fluid" align="center">
     <h1 th:text="|  Bem Vindo ${#authentication.principal.usuario.apelido != null ? 
                    #authentication.principal.usuario.apelido : #authentication.principal.usuario.email}. 
                    Vejas algumas intenções de compra que nossos clientes buscam. Aproveite e faça bons negócios ...|" 
                    style="font-family: cursive; font-weight: bold; color: #000033"></h1>
 </div>
  <div class="container-fluid" align="right">
       <span style="font-family: cursive; font-weight: bold; color: #000033; font-size: 12px;">&copy; Compraki.</span>
  </div>
 <div class="container-fluid" style="margin-left: 6%; margin-top: 4%;">
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-intencao" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <!-- 
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                 -->
                <th:block th:each="intencao,iterStat : ${intencoes}">
                    <li data-target="#carousel-intencao" th:attr="data-slide-to=${iterStat.index}" 
                       th:classappend="${iterStat.index == 0 ? 'active' : ''}"></li>
                       <!-- 
                         <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                         <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                       -->
                </th:block>              
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
	            <th:block th:each="it,iterStat : ${intencoes}">
	                <div class="item" th:classappend="${iterStat.index == 0 ? 'active' : ''}">
	                    <img th:src="@{/images/intencao.jpg}" alt="First slide">
	                    <!-- Static Header -->
	                    <div class="header-text">
	                        <div class="col-sm-12 text-left">
	                            <h2 class="pull-right" style="margin-right:5%;">
	                                <span>Intenção <strong th:text="|Nº ${it.codigo}|"></strong></span>   
	                            </h2>
	                            <h3>
	                                <span th:text="|Marca: ${it.fabricante}|"></span>
	                            </h3>
	                            <br>                            
	                            <h3>
	                                <span th:text="|Modelo: ${it.modelo} Ano: ${it.ano}|"></span>
	                            </h3>
	                            <br>
	                            <h3>
	                                <span th:text="|Combustível: ${it.tipoCombustivel} 
	                                   Valor: R${new java.text.DecimalFormat('$#,##0.00;$-#,##0.00').format(it.valor)}|"></span>                               
	                            </h3>
	                            <br>
	                            <h3>
	                                <span th:text="|Cidade: ${it.cidade} - ${it.estado}|"></span>                                          
	                            </h3>                            
	                        </div>
	                        <a class="btn button_sliding_bg pull-right" data:codigo="${it.codigo}" style="margin-right:5%;" onclick="redirecinaDetalheIt(event);">
	                            <i class="fa fa-search-plus"></i> <span class="hidden-xs  hidden-sm">Ver Detalhes</span>
	                        </a>                         
	                    </div><!-- /header-text -->
	                </div>
	            </th:block>
            </div>
            <!-- Controls 
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            -->
        </div><!-- /carousel -->
    </div>
</div>
</section>

<th:block layout:fragment="javascript-extra">
    <script>
	    function redirecinaDetalheIt(event){
	        var op = $(event.currentTarget);
	        var codigoIntencao = op.data('codigo');
	        var url = window.location.protocol +"//" + window.location.hostname +":"+ 
            window.location.port +"/compraki/detalhesIntencao/"+codigoIntencao;
	        window.location.href = url;
	    }
    </script>  
</th:block>
</html>