 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data">
    <form id="formTipoVeiculoCarro" th:object="${intencaoCompra}">
        <div id="targetContentTipoVeiculoCarro">
            <h2>Modelo do Carro</h2> 
            <div class="row">
                <div class="form-group  col-sm-6  compraki-required js-div-marca">
                    <label for="marca" class="control-label">Marca</label>
                    <div class="bw-field-action">
                       <select id="marca" class="form-control js-select-search js-combo-marca" th:field="*{modelo.fabricante}">
                           <option value=""></option>
                           <option th:each="fabricante : ${fabricantes}" th:text="${fabricante.nome}" th:value="${fabricante.codigo}"></option>
                       </select>
                    </div>
                </div>                
                <div class="form-group  col-sm-6  compraki-required js-div-modelo">
                    <label for="modelo" class="control-label">Modelo</label>
                    <input type="hidden" id="inputHiddenModeloSelecionado" th:value="*{modelo} != null ? *{modelo.codigo}"/>
                    <select id="modelo" class="form-control js-select-search js-combo-modelo" data:url="@{/intencoes/buscarModelos}" th:field="*{modelo}">
                    </select>
                </div>
            </div>
            <h2>Cores</h2> 
            <div class="row">
                <div class="form-group  col-sm-12 js-div-cores">
                    <select id="selectCores" multiple="multiple" name="js-duallistbox">
                       <option th:each="cor : ${cores}" th:text="${cor.descricao}" 
                        th:value="|${cor.codigo}-${cor.descricao}|" th:selected="${cor.selected ? true : false}"></option>
                    </select>
                </div>
            </div>            
            <h2>Acessórios</h2> 
            <div class="row">
                <div class="form-group  col-sm-12 js-div-acessorios">
                    <select id="selectAcessorios" multiple="multiple" name="js-duallistbox">
                       <option th:each="acessorio : ${acessorios}" th:text="${acessorio.descricao}" 
                        th:value="|${acessorio.codigo}-${acessorio.descricao}|" th:selected="${acessorio.selected ? true : false}"></option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</html>