<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:compraki="http://compraki.com.br"
    layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Interação</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/intencao-compra.css}"/>
</head>

<section layout:fragment="conteudo">
    <div class="page-header js-topo-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Proposta ao Possível Comprador</h1>
                </div>
                
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn  btn-primary">
                            <i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar</span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </div> 
   	<div class="container-fluid">
	    <form id="formPropostaFornecor" method="post" th:action="@{/interacao/novo}">
	    	<div class="row">
                <div class="form-group  col-sm-4  compraki-required js-div-marca">
                    <label for="marca" class="control-label">Veículo</label>
                    <div class="bw-field-action">
                       <select id="veiculo" class="form-control js-select-search js-combo-marca">
                           <option value=""></option>
                           <option th:each="veiculo : ${veiculos}" th:text="${veiculo.modelo.descricao}+' ('+${veiculo.cor.descricao} + ')'" th:value="${veiculo.codigo}"></option>
                       </select>
                       <div class="bw-field-action__icon"  
                            data-toggle="tooltip" data-placement="top" title="Cadastre seu Veículo ">
                           <a href="#" data-toggle="modal" data-target="#modalCadastroIntermediarioVeiculo">
                                <i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
                           </a>
                           
                        </div>
                    </div>
                </div>  
             </div>   
	    </form>
	</div>
 	<div th:replace="interacao/CadastroIntermediarioVeiculo :: modal"></div>
</section>
</html>