<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:compraki="http://compraki.com.br"
    layout:decorate="~{layout/LayoutPadrao}">
	<section layout:fragment="conteudo">
		<div id="blocoProposta" th:fragment="formProposta" class="labelProposta jumbotron">
		   	 <div class="col-xs-10">
		         <h2>Faça sua Proposta</h2>
		      </div>
		      <div class="col-xs-2">
		          <div class="aw-page-header-controls">
		              <a class="btn  btn-primary layoutBotaoEnviarProposta" href="#">
		                  <i class="fa fa-paper-plane"></i> <span class="hidden-xs  hidden-sm">Enviar Proposta</span>
		              </a>
		          </div>
		      </div>	
		      <div class="container-fluid">
				  <form id="formPropostaFornecedor" th:object="${intencaoCompra}">
			        <div class="row">
			             <div class="col-sm-4  form-group compraki-required">
			                 <label class="control-label">Informe o Veículo</label>
			                 <div class="input-group">
			                     <div class="input-group-addon">Veículo</div>
			                     <div class="bw-field-action">
									<select id="veiculo"
										class="form-control js-select-search js-combo-veiculo">
										<option value=""></option>
										<option th:each="veiculo : ${veiculos}"
											th:text="${veiculo.modelo.descricao}+' ('+${veiculo.cor.descricao} + ')'"
											th:value="${veiculo.codigo}"></option>
									</select>
									<div class="bw-field-action__icon" data-toggle="tooltip"
										data-placement="top" title="Cadastre seu Veículo">
										<a href="#" data-toggle="modal"
											data-target="#modalCadastroIntermediarioVeiculo"> <i
											class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
										</a>
									</div>						
			                     </div>                       
			                 </div>
			             </div>
				             
			             <div class="col-sm-3  form-group compraki-required">
				             <label class="control-label">Valor</label>
			                 <div class="input-group">
			                     <div class="input-group-addon">R$</div>
			                     <div>
									<input type="text" class="form-control js-decimal formatFonteInteracao" id="valor" 
											th:value="*{valor}" />
			                     </div>                       
			                 </div>
			             </div>	             
				             
			             <div class="col-sm-5  form-group compraki-required">
							 <label class="control-label">Telefone</label>
			                 <div class="input-group">
			                     <div class="input-group-addon"> <label class="control-label">
			                     	<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoTelefone">
			                     	 <span class="hidden-xs  hidden-sm">Modificar </span><i class="fa fa-refresh"></i>
			                     	</a></label>
			                     </div>
			                     <div>
									<input type="text" class="form-control js-phone-number formatFonteInteracao" id="telefone" 
										th:value=${telefone} />
			                     </div>                       
			                 </div>
			             </div>	              
			        </div>             
			          
				    <div class="row">
						<div class="form-group  col-sm-12  compraki-required">
							<label for="descricao" class="control-label">Escreva algo pra quem fez a proposta</label>
							<textarea rows="5" class="form-control formatFonteInteracao" id="descricao"
								   		placeholder="NOTA: Seja formal e direto, evite palavras perjorativas. Lembre-se: quem lê essa mensagem é um potencial comprador "></textarea>
					  	</div>
				    </div> 
				 </form>   
		      </div>    
			 <div th:replace="interacao/CadastroIntermediarioVeiculo :: modal"></div> 
			 <div th:replace="interacao/AlteracaoRapidaTelefone :: modal"></div> 
		</div>
	</section>
</html>