<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:compraki="http://compraki.com.br"
    layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Interação</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/interacao.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<section layout:fragment="conteudo">
   	<div class="container-fluid" th:fragment="formProposta">
	    <form id="formPropostaFornecedor" method="post" th:action="@{/interacao/novo}" th:object="${propostaFonecedor}">
	       <div class="jumbotron" style="padding-left: 30px;padding-top: 15px;">
			<div class="container-fluid labelProposta">
				<div class="row">
					<div class="col-xs-10">
						<h2>Faça sua Proposta</h2>
					</div>
					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-primary layoutBotaoEnviarProposta"> 
							<i class="fa fa-paper-plane"></i> <span
								class="hidden-xs  hidden-sm">Enviar Proposta</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
                <div class="form-group  col-sm-3 compraki-required js-div-veiculo">
                    <label for="marca" class="control-label">Veículo</label>
					<div class="bw-field-action">
							<select id="veiculo"
								class="form-control js-select-search js-combo-veiculo">
								<option value=""></option>
								<option th:each="veiculo : ${veiculos}"
									th:text="${veiculo.modelo.descricao}+' ('+${veiculo.cor.descricao} + ')'"
									th:value="${veiculo.codigo}"></option>
							</select>
							<div class="bw-field-action__icon" data-toggle="tooltip"
								data-placement="top" title="Cadastre seu Veículo">
								<a href="#" data-toggle="modal"
									data-target="#modalCadastroIntermediarioVeiculo"> <i
									class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
								</a>
							</div>
			
					</div>
            	</div>
	            <div class="col-sm-2 form-group">
					<label class="control-label">Valor</label>
					<div class="input-group">				 
						<div class="input-group-addon">R$</div>
						<div class="btn-group">		
							<input type="text" class="form-control js-decimal formatFonteInteracao" id="valor" 
								th:value="*{intencaoCompra.valor}" />
						</div>
					</div>
				</div>
			  	<div class="col-sm-3 form-group" >
					<label class="control-label">Meu Telefone</label>
					<div class="input-group">				 
						<div class="input-group-addon layoutTelefone"><a href="#" data-toggle="modal"
						  data-target="#modalCadastroRapidoTelefone">Modificar</a></div>
						<div class="btn-group">		
						  <input type="text" class="form-control js-phone-number formatFonteInteracao" id="telefone" />
						</div>
					</div>
			  	</div>
             </div>
             <div class="row">
				<div class="form-group  col-sm-8  compraki-required">
						<label for="descricao" class="control-label">Escreva algo pra quem fez a proposta</label>
						<textarea rows="5" class="form-control formatFonteInteracao" id="descricao"
						   		placeholder="NOTA: Seja formal e direto, evite palavras perjorativas. Lembre-se: quem lê essa mensagem é um potencial comprador "></textarea>
			  	</div>
			 </div> 
		 </div>	
	    </form>
	 	<div th:replace="interacao/CadastroIntermediarioVeiculo :: modal"></div> 
	 	<div th:replace="interacao/AlteracaoRapidaTelefone :: modal"></div> 
	</div>
</section>
</html>