<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:compraki="http://compraki.com.br">
<head>
    <title>Pesquisa de veículos</title>
</head>

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Acessórios</h1>
                </div>
                
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn  btn-default js-btn-novo-acessorio" data-toggle="modal" data-target="#modalCadastroAcessorio">
                            <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo Acessório</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="alert alert-success hidden" id="success-alert-acessorio">
             <button type="button" class="close" data-dismiss="alert">x</button>
             <strong>Sucesso</strong>
             Acessorio gravado com sucesso.
        </div>    
        <form method="GET" th:object="${acessorioFilter}">
            <input id="novoAcessorio" type="hidden" th:value="${novoAcessorio}"> 
            <div class="row">
                <div class="form-group  col-sm-2">
                    <label class="control-label" for="codigo">Código</label>
                    <input type="text" class="form-control js-integer" id="codigo" autofocus="autofocus" th:field="*{codigo}"/>
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label" for="tipo">Tipo:</label>
                    <select id="tipoVeiculo" class="form-control selectpicker" data-live-search="true" th:field="*{tipoVeiculo}" >
                        <option th:each="tipoVeiculo : ${tipoVeiculos}" th:text="${tipoVeiculo.descricao}" th:value="${tipoVeiculo}"></option>
                    </select>
                </div>                              
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="cnpj">Acessório</label>
                    <input type="text" class="form-control" id="modelo" autofocus="autofocus" th:field="*{acessorio}" placeholder="Ex: Roda aro 16, Trio Elétrico ..."/>
                </div>
                
            </div>
            <button type="submit" class="btn  btn-primary">Pesquisar</button>
        </form>
        <div class="table-responsive  bw-tabela-simples">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th class="text-center"><compraki:order page="${pagina}" field="codigo" text="Código"/></th> 
                        <th><compraki:order page="${pagina}" field="tipoVeiculo" text="Tipo" class="text-center"/></th> 
                        <th><compraki:order page="${pagina}" field="descricao" text="Acessório" class="text-center"/></th> 
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="acessorio : ${pagina.conteudo}">
                        <td th:text="${acessorio.codigo}" class="text-center"></td>  
                        <td th:text="${acessorio.tipoVeiculo.descricao}"></td>                     
                        <td th:text="${acessorio.descricao}"></td>
                        <td class="text-left">
                            <a class="btn  btn-link  btn-xs js-btn-editar-acessorio" title="Editar" data-toggle="modal" data-target="#modalCadastroAcessorio" 
                                data:codigo="${acessorio.codigo}" data:tipo="${acessorio.tipoVeiculo}" data:posicao="${acessorio.posicao}" 
                                	data:acessorio="${acessorio.descricao}"> 
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${pagina.vazia}">
                        <td colspan="7">Nenhum acessório encontrado</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <compraki:pagination page="${pagina}" />
    </div>
    <div th:replace="acessorio/CadastroAcessorio :: modal"></div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/pesquisa-acessorios.js}"></script>
</th:block>
</body>
</html>
